body{
    /* background-image: url(../images/PORTFOLIO.GITHUB.PAGE.png); */
    background-repeat: no-repeat;
    background-size: cover ;
    margin: 0;
    background: rgb(34,95,195);
    background: linear-gradient(0deg, rgba(34,95,195,1) 9%, rgba(233,175,49,0.9360711651917404) 96%);
}
html,body
{
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* *{
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
} */

button{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 20vh;
    width: 20vh;
    border-radius: 9em;
    border-color: rgba(41, 102, 199, 0.912);
    color: wheat;
    background: rgba(235, 201, 12, 0.672);
    background: linear-gradient(0deg, rgb(88, 34, 195) 9%, rgba(233,175,49,0.9360711651917404) 96%);
    box-shadow: 6px 7px 7px #3c3c3c70, 
            -2px -1px 6px #373737c6;
}

p, a{
    text-decoration: none;
    color: wheat;
}

.parallelogram{
    position: relative;
    left: 5vh;
    top: 9vh;
    transform: translate(-90vh, -50%) skew(-15deg);
    width: 120vh;
    height: 13.5vh;
    background: #333333;
    box-shadow: 20px 15px 15px #3c3c3c, 
            -5px -5px 30px #373737;
    display: none;
}
.name{
    color: rgb(255, 255, 255);
    position: relative;
    transform: skew(15deg);
    top: 5.4vh;
    left: 96vh;
    font-size: 2.7vh;
    display: none;
}
