body{
    background-image: url(../images/PORTFOLIO.GITHUB.PAGE.png);
    background-repeat: no-repeat;
    background-size: cover;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.parallelogram{
    position: absolute;
    left: 5vh;
    top: 9vh;
    transform: translate(-50%, -50%) skew(-15deg);
    width: 1200px;
    height: 120px;
    background: #333333;
    display: none;
}
.name{
    color: rgb(255, 255, 255);
    position: relative;
    transform: skew(15deg);
    top: 27px;
    left: 810px;
    font-size: 2.7vh;
    display: none;
}

#stage {
    margin: 2em auto 1em 50%;
    height: 360px;
    -webkit-perspective: 2100px;
    -webkit-perspective-origin: 0 40%;
    margin-top: 660px;
    position: absolute;
}
#rotator a {
    position: absolute;
    left: -81px;
    top: 100px;
}
#rotator a img {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: .5em;
    background: #fff;
    width: 13.5vh;
    -webkit-backface-visibility: hidden;
}

.services{
    position: absolute;
    right: 30px;
}
ul{
    list-style-type: none;
    margin-top: 360px;
}
li{
    margin: 10px 0;
}
ul li a{
    text-decoration: none;
}

.psa{
    position: absolute;
    top: 930px;
    margin: 25px;

}

  #rotator  a:nth-of-type(1) img {
    -webkit-transform: rotateY(-90deg) translateZ(300px);
  }
  #rotator a:nth-of-type(2) img {
    -webkit-transform: rotateY(-60deg) translateZ(300px);
  }
  #rotator a:nth-of-type(3) img {
    -webkit-transform: rotateY(-30deg) translateZ(300px);
  }
  #rotator a:nth-of-type(4) img {
    -webkit-transform: translateZ(300px);
    /* background: rgba(0, 0, 0, 0.187); */
  }
  #rotator a:nth-of-type(5) img{
    -webkit-transform: rotateY(30deg) translateZ(300px);
  }
  #rotator a:nth-of-type(6) img {
    -webkit-transform: rotateY(60deg) translateZ(300px);
  }

  @-webkit-keyframes rotator {
    from { -webkit-transform: rotateY(0deg);  }
    to   { -webkit-transform: rotateY(30deg); }
  }

  #rotator {
    -webkit-transform-origin: 0 0;
    -webkit-transform-style: preserve-3d;
    -webkit-animation-timing-function: cubic-bezier(1, 0.2, 0.2, 1);
    -webkit-animation-duration: 1.2s;
    -webkit-animation-delay: 3s;
  }
  #rotator:hover {
    -webkit-animation-play-state: paused;
  }
